<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<div layout:fragment="content">

    <div class="align-Colum-center marginTop-5">
        <div class="speech-bubble align-Center">
            <div>This is 404 Error Page!</div>
        </div>

        <div class="align-Center-row">
            <h1 class="errorNum">4</h1>
            <div class="shadow"></div>
            <img src="/images/rePick_symbol_blue.svg" class="errorSymbol" alt="RepickSymbol">
            <h1 class="errorNum marginBottom-3">4</h1>
        </div>
    </div>

</div>
</html>