<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <form th:object="${answerForm}" method="post">

<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--        <div th:replace="form_errors :: formErrorsFragment"></div>-->
<!--        <div>-->
<!--            <label for="content">내용</label>-->
<!--            <textarea th:field="*{content}" rows="10"></textarea>-->
<!--        </div>-->
<!--        <input type="submit" value="저장하기">-->

        <div class="align-Colum-center">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div th:replace="form_errors :: formErrorsFragment"></div>

            <div class="align-Colum-center">
                <label for="content" class="Tmoney-fontsize-180 align-Center marginTop-3 marginBottom-3 color-blue">댓글 수정 내용</label>
                <textarea th:field="*{content}" rows="10" class="marginBottom-3 Acontent"></textarea>
            </div>

            <div class="marginBottom-5 marginTop-3">
                <button type="submit" class="btn-1 custom-btn btn-primary ">저장하기</button>
            </div>
        </div>



    </form>
</div>

</html>

