<footer th:fragment="footerFragment">

    <article class="footer_container">
        <a class="footer_logo" href="/">
            <img width="15%" src="/images/rePick_logo-black.svg">
        </a>
        <div class="footer_title">
            <p>Copyright 2022 by Refsnes Data. All Rights Reserved.</p>
            <p>© GOSARI.company</p>
        </div>
        <span class="footer_icon">
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </span>
    </article>

</footer>