<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<!--layout:decorate 속성 : 템플릿의 레이아웃(부모템플릿)으로 사용할 템플릿을 설정-->


<div layout:fragment="content">

    <iframe class="index-video"
            src="https://www.youtube.com/embed/ibYD23-dtjo?autoplay=1&mute=1&loop=1&playlist=ibYD23-dtjo&controls=0"
            title="[PLANET OR PLASTIC] 내셔널지오그래픽 환경 보호 캠페인"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>

<script layout:fragment="script">

</script>

</html>