<nav th:fragment="navbarFragment">

    <nav class="navbar">
        <div class="navbar_logo">
            <a href="/"><span id="Nav-Logo"></span></a>
        </div>

        <ul class="navbar_menu">
            <li><a th:href="@{/introduce}">REPICK 소개</a></li>
            <li><a th:href="@{/news}">EARTH NEWS</a></li>
            <li><a th:href="@{/offlineshop/list}">착한 PICK</a></li>
            <li><a th:href="@{/question/list}">REPICKER 게시판</a></li>
            <li><a th:href="@{/user/signup}" id="join">회원가입</a></li>
            <li>
            <a sec:authorize="isAnonymous()" th:href="@{/user/login}" id="login">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}" id="logout">로그아웃</a>
            </li>

        </ul>

        <div class="navbar_icons">
            <a sec:authorize="isAuthenticated()" th:href="@{/user/info}">
                <li><img src="/images/rePick_symbol_blue.svg" alt=""
                         style="width:50px" class="navbarsymbol"></li>
            </a>
        </div>
        <a href="#" class="navbar_toggleBtn">
            <img src="/images/togle.png" alt=""
                 style="width:40px">
        </a>

    </nav>

</nav>