<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<div layout:fragment="content">

    <p style="margin-top:-12px">
        <em class="link">
            <a href="javascript:void(0);" onclick="window.open('http://fiy.daum.net/fiy/map/CsGeneral.daum', '_blank', 'width=981, height=650')">
            </a>
        </em>
    </p>
    <div id="map" style="width:100%;height:350px;"></div>

    <div id="shopName" class="Offlineshop-Detail-shopName" th:text="${offlineShop.shopName}"></div>
    <div class="align-Center-row">
        <img class="Offlineshop-Detail-icon" src="/images/call.png" alt="전화">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopNumber}"></span>
    </div>
    <div class="align-Center-row">
        <img class="Offlineshop-Detail-icon" src="/images/clock.png" alt="시간">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopTime}"></span>
    </div>
    <div class="align-Center-row">
        <img class="Offlineshop-Detail-icon" src="/images/location.png" alt="주소">
        <span id="shopAddress" class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopAddress}"></span>
    </div>
    <div class="align-Center-row marginBottom-5">
        <img class="Offlineshop-Detail-icon" src="/images/paper.png" alt="설명">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopContents}"></span>
    </div>

    <div  sec:authorize="hasRole('ADMIN')" class="Offlineshop-Detail-WriteInfo align-Center-row">
        <div>
            <span>작성 담당자 :</span>
            <span th:if="${offlineShop.author != null}" th:text="${offlineShop.author.nickname}"></span>
        </div>
        <div>
            <span>작성 일시:</span>
            <span th:text="${#dates.format(offlineShop.createDate, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div>
            <span>수정 일시:</span>
            <span th:if="${offlineShop.modifyDate != null}" th:text="${#dates.format(offlineShop.modifyDate, 'yyyy-MM-dd HH:mm')}">
            </span>
        </div>

            <a th:href="@{|/offlineshop/modify/${offlineShop.id}|}"
               sec:authorize="isAuthenticated()" class="Green-button-Offline-update"
               th:if="${offlineShop.author != null and #authentication.getPrincipal().getUsername() == offlineShop.author.username}"
               th:text="수정"></a>


            <a href="javascript:void(0);" th:data-uri="@{|/offlineshop/delete/${offlineShop.id}|}"
               sec:authorize="isAuthenticated()" class="delete Green-button-Offline-delete"
               th:if="${offlineShop.author != null and #authentication.getPrincipal().getUsername() == offlineShop.author.username}"
               th:text="삭제"></a>

            <a th:href="@{/offlineshop/create}"
               sec:authorize="isAuthenticated()" class="Green-button-Offline-create"
               th:if="${offlineShop.author != null and #authentication.getPrincipal().getUsername() == offlineShop.author.username}"
               th:text="추가작성"></a>

    </div>


</div>

<script layout:fragment="script" type="text/javascript">

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    //주소값 입력받아 변수에담기
    let address = document.getElementById('shopAddress').innerText;

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address, function(result, status) {



        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });


            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div id="shopmarker" style="width:150px;text-align:center;padding:6px 0;' +
                    'border-radius: 5px; font-family: TmoneyRoundWindExtraBold ">YOUR PICK!</div>'
            });



            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>

</html>


