<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<div layout:fragment="content">

    <div class="Offlineshop-Detail-shopName" th:text="${offlineShop.shopName}"></div>
    <div class="align-Center-row">
        <img class="Offlineshop-Detail-icon" src="/images/call.png" alt="전화">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopNumber}"></span>
    </div>
    <div class="align-Center-row">
        <img class="Offlineshop-Detail-icon" src="/images/clock.png" alt="시간">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopTime}"></span>
    </div>
    <div class="align-Center-row">
        <img class="Offlineshop-Detail-icon" src="/images/location.png" alt="주소">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopAddress}"></span>
    </div>
    <div class="align-Center-row">
        <span class="Offlineshop-Detail-shopDetail" th:text="${offlineShop.shopContents}"></span>
    </div>
    <div>
        <div>
        <span>작성 담당자 :</span>
        <span th:if="${offlineShop.author != null}" th:text="${offlineShop.author.nickname}"></span>
        </div>
        <div>
        <span>작성 일시:</span>
        <span th:text="${#dates.format(offlineShop.createDate, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div></div>
        <span>수정 일시:</span>
        <div th:if="${offlineShop.modifyDate != null}">
            <span th:text="${#dates.format(offlineShop.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
    </div>
    <!--수정-->
    <!--  <div>-->
    <!--    <h1 sec:authorize="hasRole('ROLE_USER')">Has user Role</h1>-->
    <!--    <h1 sec:authorize="hasRole('ROLE_ADMIN')">Has admin Role</h1>-->
    <!--  </div>-->

    <div>
        <a th:href="@{|/offlineshop/modify/${offlineShop.id}|}"
           sec:authorize="isAuthenticated()"
           th:if="${offlineShop.author != null and #authentication.getPrincipal().getUsername() == offlineShop.author.username}"
           th:text="수정"></a>

        <a href="javascript:void(0);" th:data-uri="@{|/offlineshop/delete/${offlineShop.id}|}"
           sec:authorize="isAuthenticated()" class="delete"
           th:if="${offlineShop.author != null and #authentication.getPrincipal().getUsername() == offlineShop.author.username}"
           th:text="삭제"></a>
    </div>
</div>

<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>

</html>