<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">

<div layout:fragment="content">
    <div class="profile_main_box">
        <div class="profileBox">
            <form th:action='@{/user/info}' th:object='${userUpdateForm}' method='post' enctype='multipart/form-data'>
                <div>
                    <div class="profile_name Tmoney-fontsize-130 marginTop-3 marginBottom-3"  th:text='${siteUser.nickname}' ></div>
                    <div class="progileimg-box">
                    <img onerror="this.style.visibility='hidden'" class="profileimg" th:src="@{|/photo/${siteUser.ImageName}|}"/>
                    </div>
<!--                    <input class="profile_file" type='file' name='file'>-->

                        <div class="fileboxP align-Center-row marginTop-3">
                            <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                            <label for="file">파일찾기</label>
                            <input type="file" name="file" id="file">
                        </div>

                </div>
                <br />
                <div class="pofile_user">
                    <label for="username" class="form-label KOTRA-fontsize-100">사용자ID</label><br>
                    <input type="text" th:field="${siteUser.username}" readonly>
                </div>
                <div class="pofile_user">
                    <label for="nickname" class="form-label KOTRA-fontsize-100">닉네임</label><br>
                    <input type="text" th:field="${siteUser.nickname}">
                </div>
                <div class="pofile_user">
                    <label for="email" class="form-label KOTRA-fontsize-100">이메일</label><br>
                    <input type="email" th:field="${siteUser.email}" id="email" readonly>
                </div>


                <button type="submit" class="btn-1 custom-btn btn-primary" onclick="alert('수정되었습니다')">수정하기</button>
            </form>
        </div>
    </div>
</div>

<script layout:fragment="script">
    $("#file").on('change',function(){
        var fileName = $("#file").val();
        $(".upload-name").val(fileName);
    });
</script>
</html>