<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<!--------------------------질문 상세 내용-------------------------------->
<div layout:fragment="content" class="detail-container">

    
    <!--카테고리추가-->
    <div class="detail-category KOTRA-fontsize-120 color-blue" th:text="${question.category}"></div>
    <!--질문-->
    <div class="detail-subject Tmoney-fontsize-150">
        <h2 th:text="${question.subject}"></h2>
    </div>

    <div class="detail-info">
        <!--본문 글쓴닉네임-->
        <div class="detail-item KOTRA-fontsize-100" style="font-weight: bolder">
            <span th:if="${question.author != null}" th:text="${question.author.nickname}"></span>
        </div>
        <!--질문 생성날짜-->
        <div class="detail-item  KOTRA-fontsize-100 ">
            <span th:if="${question.modifyDate == null}" th:text="${#dates.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <!--질문 수정일시표시-->
        <div class="detail-modifyDate detail-item KOTRA-fontsize-100" th:if="${question.modifyDate != null}">
            <span th:text="${#dates.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
            <span class="">(modify)</span>
        </div>
        <!--조회수-->
        <div th:text="|조회수 : ${question.countview}|" class="KOTRA-fontsize-100"></div>
    </div>

    <!--마크다운 적용-->
    <div class="detail-question" th:utext="${@commonUtil.markdown(question.content)}"></div>

    <!--파일업로드-->
    <div class="detail-img">
        <img onerror="this.style.visibility='hidden'" th:src="@{|/photo/${question.filename}|}"/>
    </div>

    <div class="detail-menu">
        <!--질문추천-->
        <a href="javascript:void(0);"
           class="recommend detail-btn" th:data-uri="@{|/question/vote/${question.id}|}">추천
            <span th:text="${#lists.size(question.voter)}"></span></a>

        <!--질문수정-->
        <a th:href="@{|/question/modify/${question.id}|}"
           class="detail-btn" sec:authorize="isAuthenticated()"
           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
           th:text="수정"></a>

        <!--질문삭제-->
        <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
           class="delete detail-btn" sec:authorize="isAuthenticated()"
           th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
           th:text="삭제"></a>
    </div>

    <!--------------------------답변의 갯수표시-------------------------------->
    <h5 class="answer-check Tmoney-fontsize-100 color-blue" th:text="|${#lists.size(question.answerList)}개의 댓글이 있습니다.|"></h5>
    <!--#list.size(이터러블객체)-타임리프가 제공하는 유틸리티로 객체의 길이를 반환-->
    <!--답변 반복 시작-->
    <div class="answer-card" th:each="answer, loop : ${paging}">
        <a th:id="|answer_${answer.id}|"></a> <!--앵커태그-->

        <div class="answer-info">
            <!--답변 닉네임-->
            <div th:if="${answer.author != null}" th:text="${answer.author.nickname}" class="KOTRA-fontsize-100" style="font-weight: bolder"></div>
            <!--답변 생성일시표시-->
            <div th:if="${answer.modifyDate == null}" class="detail-modifyDate KOTRA-fontsize-100">
                <span th:text="${#dates.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <!--답변 수정일시표시-->
            <div th:if="${answer.modifyDate != null}" class="detail-modifyDate KOTRA-fontsize-100">
                <span th:text="${#dates.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                <span class="">(modify)</span>
            </div>
        </div>

        <!--마크다운 적용-->
        <div class="detail-answer" th:utext="${@commonUtil.markdown(answer.content)}"></div>

        <div class="detail-menu">
            <!--답변추천버튼-->
            <a class="recommend detail-btn" href="javascript:void(0);"
               th:data-uri="@{|/answer/vote/${answer.id}|}">추천
                <span th:text="${#lists.size(answer.voter)}"></span>
            </a>

            <!--답변수정버튼-->
            <a class="detail-btn" th:href="@{|/answer/modify/${answer.id}|}"
               sec:authorize="isAuthenticated()"
               th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
               th:text="수정"></a>

            <!--답변삭제버튼-->
            <a class="delete detail-btn" href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
               sec:authorize="isAuthenticated()"
               th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
               th:text="삭제"></a>
        </div>
    </div>

    <!--------------------------답변 페이징-------------------------------->
    <div class="marginTop-3 marginBottom-3" th:if="${!paging.isEmpty()}">
        <div class="pagenationQ">
            <div class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                    <span>이전댓글</span>
                </a>
            </div>

            <div class="" th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'">
                <a class="page-link" th:text="${page}" th:href="@{|?page=${page}|}"></a>
            </div>

            <div class="" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음댓글</span>
                </a>
            </div>
        </div>
    </div>

    <!--------------------------답변 작성-------------------------------->
    <form th:action="@{|/answer/create/${question.id}|}"
          th:object="${answerForm}" method="post">

        <div th:replace="form_errors :: formErrorsFragment"></div>
        <!--th:replace - 공통템플릿을 템플릿내에 삽입가능-->
        <!--div엘리먼트를 form_errors.html파일의 th:fragment속성명이 formErrorsFragment인 엘리먼트로 교체-->

        <!--로그인시에만 답변작성가능-->
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}"
                  class="answer-form" rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}"
                  class="answer-form" rows="10" required></textarea>

<!--        <div th:if="*{content} == null" class="error">-->
<!--            댓글을 입력해주세요-->
<!--        </div>-->

        <input type="submit" value="댓글작성하기" class="btn-1 custom-btn btn-primary" >
    </form>

    <!------------------------질문 이전글 다음글------------------------------>
    <table class="table-PreNext">
        <tr>
            <td width="50px" style="font-weight: bolder" class="KOTRA-fontsize-100">이전글</td>
            <td><a th:href="@{|/question/detail/${prevID}|}"
                   th:text="*{prevSub}" class="KOTRA-fontsize-100"></a></td>
        </tr>
        <tr>
            <td width="50px"  style="font-weight: bolder" class="KOTRA-fontsize-100">다음글</td>
            <td><a th:href="@{|/question/detail/${nextID}|}"
                   th:text="*{nextSub}" class="KOTRA-fontsize-100"></a></td>
        </tr>
    </table>

    <script layout:fragment="script" type="text/javascript">
        //질문삭제
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
            });
        });
        //추천
        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
            })
        })
    </script>

    <script layout:fragment="script">
        var simplemde = new SimpleMDE({ element: document.getElementById("markdownid") });

        // function MustwriteAnswer() {
        //     let AnswerBtn = document.getElementById("answerBTN");
        //     let AnswerForm = document.getElementById("AnswerForm");
        //
        //     if(AnswerForm.value.length != 0){
        //         return true;
        //     }else if (AnswerForm.value.length == 0){
        //         alert("내용을입력해주세요");
        //         return false;
        //     }
        //
        // }

    </script>
</div>
</html>